<script setup lang="ts">
import { ref } from 'vue';
const emit = defineEmits<{

    send:[message:string]

}>()
const messege = ref('')
function send(){
    emit('send',messege.value)
    messege.value = ' '
}
</script>

<template>
    <div>
        <input type="text" v-model="messege" @keydown.enter="send"/>
        <button @click="send()">Send</button>
    </div>
</template>

<style scoped>
    input,
    button{
    font-size: 'kanit';
    font-family: 20pt;        
    }
</style>