<script setup lang="ts">
import MessegeList from '@/components/MessegeList.vue';
import MessegeBox from '@/components/MessegeBox.vue';
import { nextTick, ref } from 'vue';
const messages = ref<string[]>([])
const messegeList = ref<typeof MessegeList | null>(null)
const answers = ['สวัสดีที่รัก','ไปไหนมา','ฟวยๆๆๆ']
function send(message:string){
    messages.value.push(message)
    answerWithComputer()

}
function answerWithComputer(){
    const ranAns = Math.floor(Math.random()*10000)%answers.length
    const answer = answers[ranAns]
    messages.value.push(answer)
    nextTick(()=>{
        messegeList.value?.updateUI()
    })
}
</script>

<template>
<div>
    <MessegeList ref="msglist" :messages="messages"></MessegeList>
    <MessegeBox @send="send"></MessegeBox>
</div>
</template>
